{% extends "layout.html" %}
{% block content %}
<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="custom_heading-container">
        <br><br><br><br><br><br>
        <h2>
          Predict
        </h2>
        <hr>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          <form method="POST">
            <!--                 
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <p>{{ message  }}</p>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}-->
            {{ form.csrf_token}}
            <div class="form-group">
              <label>Region:</label>
              {{ form.region(class="form-control") }}
            </div>
            <div class="form-group">
              <label>Municipality:</label>
              {{ form.municipality(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Emplacement:</label>
              {{ form.emplacement(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Area:</label>
              {{ form.area(class="form-control")}}
            </div>
            <div class="form-group">
              <label>How many pieces?</label>
              {{ form.roomNumber(class="form-control")}}
            </div>


            <div class="mt-5">
              <button type="submit" class="btn btn-success">
                send
              </button>
            </div>
        </div>

      </div>

      </form>
    </div>
  </div>


  <!-- end contact section -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    region_select = document.getElementById('region');
    municipality_select = document.getElementById('municipality');
    emplacement_select = document.getElementById('emplacement');

    region_select.onchange = function () {
      region = region_select.value;
      fetch('municipality/' + region).then(function (response) {
        response.json().then(function (data) {
          optionHTML = '';
          for (municipality of data.municipalityregion) {
            optionHTML += '<option value="' + municipality.id + '">' + municipality.name + '</option>'
          }
          municipality_select.innerHTML = optionHTML;
        });
      });
    }
    municipality_select.onchange = function () {
      emplacement = municipality_select.value;
      fetch('emplacement/' + emplacement).then(function (response) {
        response.json().then(function (data) {
          optionHTML = '';
          for (emplacement_rs of data.emplacementlist) {
            optionHTML += '<option value="' + emplacement_rs.id + '">' + emplacement_rs.name + '</option>'
          }
          emplacement_select.innerHTML = optionHTML;
        });
      });
    }
  </script>
  {% endblock content %}

  </body>

  </html>