{% extends "layout.html" %}
{% block content %}
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="custom_heading-container">
                <br><br><br><br><br><br>
                <h2>
                    Predicted price
                </h2>
                <hr>
               
            
            </div>
        </div>

        <div class="bg-text">
            <h1 style="font-size:50px">The predicted price is :</h1>
            <h1 style="font-size:50px">{{price}}</h1>

        </div>




    
</div>




    {% endblock content %}
    </body>

    </html>